.container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.image {
  max-width: 250px;
  width: 80%;
  border-radius: 16px;
}

.title {
  font-family: Poppins;
}

.desc {
  font-family: Poppins;
  margin-top: 0;
  margin-bottom: 16;
  font-weight: 300;
}

.movieCard {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.pageTitle {
  font-family: Poppins;
  margin: 0;
}

.taglineContainer {
  display: flex;
  flex-direction: row;
}

.linkButton {
  font-family: Poppins;
  margin-top: 0;
  margin-left: 8px;
  cursor: pointer;
}

.link {
  font-family: Poppins;
  text-decoration: none;
  color: #4a8fff;
  transition: all 1s;
}

.link:hover{
  color: #db4d81;
  transition: all 1s;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}